/*
.masonry-layout-panel--small {
  height: 200px;
}
.masonry-layout-panel--medium {
  height: 300px;
}
.masonry-layout-panel--large {
  height: 400px;
}

.masonry-layout {
  column-count: 3;
  column-gap: 0;
}
.masonry-layout-panel {
  break-inside: avoid;
  padding: 5px;
}
.masonry-layout-panel__content {
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.masonry-layout-panel__content--img {
  max-width: 100%;
  padding: 100;
  max-height: 80%;
}

.masonry-layout-flip {
  perspective: 1000;
}
.masonry-layout-flip:hover .masonry-layout-flip__content {
  transform: rotateY(180deg);
}
.masonry-layout-flip--md {
  height: 300px;
}
.masonry-layout-flip__panel {
  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.masonry-layout-flip__panel--front {
  transform: rotateY(0deg);
  z-index: 2;
}
.masonry-layout-flip__panel--back {
  transform: rotateY(180deg);
}
.masonry-layout-flip__content {
  height: 100%;
  overflow: visible;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.25s;
}

.masonry-layout-flip--medium {
  height: 300px;
  text-align: center;
  color: white;
  font-size: 30px;

  Code for the masonry
  <div class="masonry-layout-panel masonry-layout-flip--medium masonry-layout-flip">
    <div class="masonry-layout-panel__content masonry-layout-flip__content">
      <img src="fat.png" class="masonry-layout-flip__panel masonry-layout-flip__panel--front masonry-layout-flip__panel--img pika"/>
      <div class="masonry-layout-flip__panel masonry-layout-flip__panel--back">
        <p>You're waaaaaay too fat</p>
      </div>
    </div>
  </div>
} */
.content {
  margin-top: 100px;
}

.floathead {
  z-index: 11;
  justify-content: center;
  width: 100%;
  background: darkgreen;
  color: yellow;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  border-bottom: solid #D9BB74 7px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px;
}

footer {
  width: 100%;
  height: 10%;
  background: darkgreen;
  border-top: solid #D9BB74 2px;
  justify-content: center;
  text-align: center;
  font: 10px "Comic Sans MS";
  color: yellow;
}

.slidewrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  border: solid black 1px;
  padding-top: 100px;
}

.slidewrap2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  border: solid black 1px;
  padding-top: 100px;
}

#slide {
  position: absolute;
  bottom: 100%;
  width: auto;
  height: auto;
  background: #054549;
  transition: .5s ease;
  overflow: hidden;
  font: 30px "Futura";
  color: white;
  width: 60%;
  z-index: 10;
}

#slide2 {
  position: absolute;
  bottom: 100%;
  width: auto;
  height: auto;
  background: #0BC7B1;
  transition: .5s ease;
  overflow: hidden;
  font: 30px "Futura";
  color: white;
  width: 60%;
  z-index: 10;
}

.slidewrap:hover #slide {
  transition: 1s;
  bottom: 0;
  padding-left: 60px;
  text-align: left;
  justify-content: left;
  padding-bottom: 80px;
  width: 60%;

}

.slidewrap2:hover #slide2 {
  transition: 1s;
  bottom: 0;
  padding-left: 60px;
  text-align: left;
  justify-content: left;
  padding-bottom: 150px;
  width: 60%;
}

.pika {
  width: 30%;
  height: auto;
  display: flex;
  float: right;
}

.cheese {
  float: right;
  height: auto;
  display: flex;
  width: 30%;
}

.app {
  background: teal;

}

.app-header {
  background: teal;
  color: white;
  text-align: center;
  justify-content: center;

  /* border-bottom: 10px solid black; */
}
.headbutt {
  height: 18px;
  overflow: scroll;
}

.yason {
  background: #054549;
  border-top: solid 10px #D9BB74;
}

.yson {
  background: #054549;
  border-top: solid 10px #D9BB74;
}

.yaason {
  background: #0BC7B1;
  border-top: solid 10px #D9BB74;
  border-bottom: solid #D9BB74 5px;

}

.wheel {
  position: relative;
  height: 30px;
  justify-content: center;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 5px 8px;
  margin-top: -10px;
}

.wheel:hover {
  color: #0BC7B1;
  background: ;
  box-shadow: 5px 5px;
  font-style: italic;
  cursor: pointer;
}
.wheel:active {
  color: darkgreen;
  box-shadow: 5px 5px;
  font-style: italic;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 11;

}

.popup_inner {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 15%;
  bottom: 15%;
  margin: auto;
  background: #D9BB74;
  text-align: center;
  border-radius: 24px;
}

#popimg {
  width: 50%;
  position: relative;
}

.popinfo {
  position: relative;
  display: block;
  margin: auto;
  text-decoration: none;
  border: 1px solid black ;
  width: 50%;
  box-shadow: 3px 5px black;
}

.popinfo:hover {
  background: cyan;
  color: #0BC7B1;
  box-shadow: 3px 5px #0BC7B1;
}
.popinfo:visited {
  color: inherit;
}

.dropdown {
  float: right;
  position: absolute;
  display: inline-block;
  top: 10%;
  right: 10%;
  text-align: center;
  border-bottom: 1px solid orange;
  color: orange;
}

.drop_content {
  display: none;
  position: absolute;
  min-width: 80px;
  min-height: 5px;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.3);
  z-index: 1;
  color: white;

}

.drop_content li {
  text-decoration: none;
  display: inherit;
  text-align: center;
  border: .1px solid gray;
  border-top: 0px;
  padding: 3px;
  background: orange;

}

.drop_content li:hover {
  color: cyan;
  cursor: pointer;
  border: .1px solid #D9BB74;
}

.dropdown:hover .drop_content {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*  A-7, Cmaj7, Fmaj7, F6 */
